<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <title>Nikul Patel | Full Stack Web Developer | Gujarat | India</title>
    <meta name="description" content="Thanks For Visiting My Personal Website">
    <meta name="author" content="Nikul Patel">
    <meta name="keywords" content="Nikul, Nikul Patel, Web Developer, Full Stack Developer,
Full Stack Web Developer, Personal Portfolio, CV, VCard, Resume, One Page, web design services, web design solutions, responsive web design services,  mobile website design services, web development, backend architecture, database design, i am nikul, Web Development, Web Designer, Mobile Development, SEO Services, Social Media Marketing, Responsive Web Design, Bugs Fixing, Frontend Development, Backend Development, CMS Development, QA Testing, Server and Hosting Integration, API and Web Services Development">
    <link rel="canonical" href="https://nikulpatel.netlify.app/">
    <meta property="og:title" content="Nikul Patel | Full Stack Web Developer | Gujarat | India">
    <meta property="og:site_name" content="Nikul Patel | Full Stack Developer">
    <meta property="og:url" content="https://nikulpatel.netlify.app/">
    <meta property="og:description" content="Full stack web developer available in Gujarat, India contact me with email nikulpatel1643@gmail.com and you can also get in touch with me on social media account">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://nikulpatel.netlify.app/img/site_preview.png">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://nikulpatel.netlify.app/">
    <meta property="og:title" content="Nikul Patel | Full Stack Web Developer | Gujarat | India">
    <meta property="og:description" content="Thanks For Visiting My Website. Full-stack web developer available in Gujarat, India contact me with email, you can also get in touch with me on social media account.">
    <meta property="og:image" content="https://nikulpatel.netlify.app/img/site_preview.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://nikulpatel.netlify.app/">
    <meta property="twitter:title" content="Nikul Patel | Full Stack Web Developer | Gujarat | India">
    <meta property="twitter:description" content="Thanks For Visiting My Website. Full-stack web developer available in Gujarat, India contact me with email, you can also get in touch with me on social media account.">
    <meta property="twitter:image" content="https://nikulpatel.netlify.app/img/site_preview.png">

    <meta name="google-site-verification" content="GAAs3VWCxIK6h4S4Cme1S2M-gvJEikwDjefEv1nb9DQ" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PKW36HD');</script>
    <!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VEY08WSRQZ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-VEY08WSRQZ');
    </script>
  <!-- End Google Analytics -->
  </head>
  <body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PKW36HD"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <noscript>
      <strong>We're sorry but this site doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
